:root {
    --one-color: #75e3ff;  /* 0 to 1.49 */
    --two-color: #85ff75;  /* 1.5 to 2.49 */
    --three-color: #fdff75;  /* 2.5 to 3.49 */
    --four-color: #ffbf75;  /* 3.5 to 4.49 */
    --five-color: #ff7575;  /* 4.5 to 5 */
  }

h1, form, div {
    text-align: left;
}

table {    
    border-collapse: collapse !important;
    padding-right: 10px;
}

td {
    text-align: center;
    padding: 5px;
}

span {
    margin-right: 10px;
}

#top-y-value {   
    padding-bottom: 0px; 
}

#question-button {
    text-align: left;
    margin: 0px 0px -3px 0px !important;
    display: inline;
    line-height: 100%;
    content: url(../img/question.png);
}

#question-button:hover {
    cursor: pointer;
}

.key {
    text-align: left;
    font-size: 15px;
}

.display-key {
    background-color: white;
    padding: 7px 9px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: none;
    margin-top: 5px;
}

.inner-table {    
    border-top-color: lightgrey;
    border-top-style: solid;
    border-top-width: 1px;
}

.y-axis {
    border-right: 1px solid black;
    padding-bottom: 0px;
    padding-top: 10px;
}

.x-axis {
    border-top: 1px solid black;
}

.date {
    margin-bottom: 10px;
}

.result {
    display: none;
}

.no-result {
    text-align: left !important;
    display: block !important;
}

.show {
    display: inline !important;
}

.summary {
    margin-top: 20px;
}

.summary-section {
    margin-bottom: 15px;
}

.painOne {
    background-color: var(--one-color);
}

.painTwo {
    background-color: var(--two-color);
}

.painThree {
    background-color: var(--three-color);
}

.painFour {
    background-color: var(--four-color);
}

.painFive {
    background-color: var(--five-color);
}

.pain-colors {
    margin: 0px;
    padding: 4px 0px 2px 0px;
    text-align: center;
    display: inline-block;
    width: 20px;
    line-height: 100%;
}

.entry-table {
    max-width: 100%;
    overflow: auto;
}