:root {
    --one-color: #a6ff9a;  /* 0 to 1.49 */
    --two-color: #fdff89;  /* 1.5 to 2.49 */
    --three-color: #ffc685;  /* 2.5 to 3.49 */
    --four-color: #ffa4a4;  /* 3.5 to 4.49 */
    --five-color: #f098ff;  /* 4.5 to 5 */
  }

h1, form, div {
    text-align: left;
}

table {    
    border-collapse: collapse !important;
    padding-right: 10px;
    font-size: 14px;
}

td {
    text-align: center;
    padding: 5px;
}

span {
    margin-right: 10px;
}

button {    
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    text-transform: lowercase;
}

#top-y-value {   
    padding-bottom: 0px;
}

.question-button {
    text-align: left;
    margin: 0px 0px -3px 0px !important;
    display: inline;
    line-height: 100%;
    content: url(../img/question.png);
}

.question-button:hover {
    cursor: pointer;
}

.key {
    text-align: left;
    font-size: 14px;
}

#display-key,
#summary-display-key {
    background-color: white;
    padding: 7px 9px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: none;
    margin-top: 5px;
}

.inner-table {    
    border-top-color: lightgrey;
    border-top-style: solid;
    border-top-width: 1px;
}

.y-axis {
    padding-bottom: 0px;
    padding-top: 10px;
    line-height: 20px;
}

.x-axis {
    border-top: 1px solid black !important;
}

.x-axis-summary {
    line-height: 22px;
}

.empty-space {
    min-width: 10px !important;
}

.date {
    margin-bottom: 10px;
}

.result {
    display: none;
}

.no-result {
    text-align: left !important;
    display: block !important;
}

.show {
    display: inline !important;
}

.summary {
    margin-top: 20px;
    padding-bottom: 10px;
}

.summary-section {
    margin: 25px 0;
}

.painOne {
    background-color: var(--one-color);
}

.painTwo {
    background-color: var(--two-color);
}

.painThree {
    background-color: var(--three-color);
}

.painFour {
    background-color: var(--four-color);
}

.painFive {
    background-color: var(--five-color);
}

.pain-colors {
    margin: 0px;
    padding: 4px 0px 2px 0px;
    text-align: center;
    display: inline-block;
    width: 20px;
    line-height: 100%;
}

.entry-table {
    max-width: 100%;
    overflow: auto;
}

.table-scroll {
	position: relative;
	overflow: hidden;
}

.table-wrap {
    margin-left: 1px;
	overflow: auto;
}

.clone {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.clone th, .clone td {
	visibility: hidden
}

.clone td, .clone th {
	border-color: transparent
}

.clone tbody th {
	visibility: visible;
}

.clone .fixed-side {
	background: var(--background-color);
    visibility: visible;
}

.clone .y-axis {    
    border-right: 1px solid black;
}

.clone thead, .clone tfoot {
    background: transparent;
}

.left-bar {
    background-color: var(--second-color);
    padding: 0 !important;
    min-width: 1px;
}

.right-bar {
    background-color: var(--first-color);
    padding: 0 !important;
    min-width: 1px;
}

#summary-table-scroll {
    margin: 3px 0 8px 0;
    height: auto;
}

.summary-joint {    
	padding: 0;
}

#summary-table-scroll .y-axis {
    max-width: 20px !important;
}

.summary-table {
    max-width: 575px;
}


.rotate {
    white-space: nowrap;
    vertical-align: middle;
    width: 1em;
  }
.rotate span {
    display: inline-block;
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    margin-left: -10px;
    margin-right: -10px;
    text-align: center !important;
}

.summary-key-color {
    line-height: 20px;
    min-width: 40px;
}

.joint-percent-bar {
    width: 565px; 
    height: 30px; 
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 160;
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }