:root {
    --one-color: #fffc75;  /* 0 to 1.49 */
    --two-color: #fff175;  /* 1.5 to 2.49 */
    --three-color: #ffd175;  /* 2.5 to 3.49 */
    --four-color: #ffb375;  /* 3.5 to 4.49 */
    --five-color: #ff9c75;  /* 4.5 to 5 */
  }

h1, form, div {
    text-align: left;
}

td {
    text-align: center;
    padding: 5px;
}

span {
    margin-right: 10px;
}

#top-y-value {   
    padding-bottom: 0px; 
}

.y-axis {
    border-right: 1px solid black;
    padding-bottom: 0px;
    padding-top: 10px;
}

.x-axis {
    border-top: 1px solid black;
}

.date {
    margin-bottom: 10px;
}

.result {
    display: none;
}

.no-result {
    text-align: left !important;
    display: block !important;
}

.show {
    display: inline !important;
}

.summary {
    margin-top: 20px;
}

.summary-section {
    margin-bottom: 15px;
}

.painOne {
    background-color: var(--one-color);
}

.painTwo {
    background-color: var(--two-color);
}

.painThree {
    background-color: var(--three-color);
}

.painFour {
    background-color: var(--four-color);
}

.painFive {
    background-color: var(--five-color);
}